<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
<div style="display:flex; gap:20px;">
    
    
    <div style="width:40%;">
    
        <h2>Challenges</h2>
        <ul>
            {% for challenge in challenges %}
                <li>
                    <a hx-get="/{{ challenge.id }}/"
                       hx-target="#detail"
                       hx-swap="innerHTML">
                        {{ challenge.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="detail" style="width:60%; border-left:1px solid #999; padding-left:20px;">
        <h3>Select a challenge</h3>
    </div>

</div>

</body>
</html>
